td {
  padding: 0.125rem 0.5rem;
}

table > tr td:first-child {
  padding-left: 2rem;
}

.expandable:hover {
  cursor: pointer;
}

td.directory-name {
  font-weight: bold;
}

tr.contents > td:first-child {
  padding-left: 2rem;
}
